<%- model_class = Lead.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Rationalize IT Training Leads" %></h1>
</div>
<div id="refresh_leads">
  <%= button_to 'Refresh List', refresh_path, 'data-load-into' => 'refresh_leads_link', :class => 'btn-primary' -%>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:welcome_email_sent) %></th>
      <th><%= model_class.human_attribute_name(:viewed_demo) %></th>
      <th><%= model_class.human_attribute_name(:viewed_demo_at) %></th>
      <th><%= model_class.human_attribute_name(:captured_on) %></th>
      <th><%= model_class.human_attribute_name(:comment) %></th>
    </tr>
  </thead>
  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.first_name %></td>
        <td><%= lead.last_name %></td>
        <td><%= lead.email %></td>
        <td><%= lead.phone_number %></td>
        <td><%= lead.welcome_email_sent %></td>
        <td><%= lead.viewed_demo %></td>
        <td><%= lead.viewed_demo_at %></td>
        <td><%= lead.captured_on %></td>
        <td><%= lead.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

